@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,300&family=Raleway:wght@100;200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
}

body {
    overflow: hidden;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}

button[type=submit] {
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    border: 1px solid white;
    width: 20%;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 1px;
    padding: 5px;
    margin-bottom: 10px;
    transition: .1s ease-in;
    margin-left: 0;
}

button[type=submit]:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button[type=submit]:active {
    transform: scale(.9);
    background-color: white;
    color: black;
    transition: .1s ease-in;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Karla', sans-serif;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: .3 ease-in;
}

button:active {
    transform: scale(.9);
}

span {
    font-weight: 500;
    text-decoration: underline;
}

label {
    margin-bottom: 5px;
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    width: 400px;
}

input {
    margin-bottom: 20px;
    height: 35px;
    width: 80%;
    padding: 10px;
}

.container {
    display: flex;
    position: relative;
}

#img-title{
    position: absolute;
    top: 320px;
    left: 110px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 80px;
    opacity: 10%;
    text-shadow: 10px 10px 50px rgba(0, 140, 255, 0.73);
}

.img-container {
    width: auto;
    height: 100vh;
}

img {
    height: 100vh;
    width: 37vw;
}

#img-caption {
    background-color: rgba(0, 0, 0, 0.17);
    color: white;
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 15px;
    opacity: 40%;
}

.right-container {
    background-color: black;
    color: white;
    width: 100%;
}

form {
    margin: 100px 70px 20px 70px;
}

.right-container > h1 {
    margin-top: 280px;
    margin-left: 70px;
    text-transform: uppercase;
}




